<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softlib">

    /
    <application>
        <activity android:name=".ui.home.AmountFragment" />
        <activity android:name=".ui.home.ContactlessFragment" />
        <activity android:name=".ui.home.ReceiptTotalFragment" />
    </application>
</manifest>